@page
@inject SignInManager<IdentityUser> SignInManager
@model AccessDeniedModel

@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger text-center">@ViewData["Title"]</h1>
    <p class="text-danger text-center">You do not have access to this resource.</p>

    <div class="text-center">
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-area="User" asp-controller="Home" asp-action="Index" class="btn btn-primary text-center">Go Back</a>
        }
        else
        {
            <a asp-area="Identity" asp-controller="Account" asp-action="Login" class="btn btn-primary text-center">Go Back</a>
        }
    </div>
    
</header>
