@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4 text-center mt-5">Introducing <span class="text-primary font-bo">Culturize</span></h1>
    <p class="lead text-center text-muted fw-normal">Empower Your Company Culture!</p>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="text-center">Culturize is a powerful platform designed to transform your company culture into a thriving and harmonious ecosystem. With intuitive features and data-driven insights, our app enables you to effortlessly measure, analyze, and enhance your organization's culture.</p>
            <p class="text-center">Gain deep visibility into employee engagement, values alignment, and overall satisfaction. Engage in real-time feedback, foster collaboration, and drive positive change. Seamlessly track progress, set goals, and celebrate achievements, all in one centralized hub.</p>
            <p class="text-center">Harness the strength of Culturize to cultivate a workplace that inspires creativity, boosts productivity, and fosters a sense of belonging. Elevate your company culture to new heights and unlock the true potential of your organization.</p>
            <p class="text-center">Join Culturize today and embark on a journey towards a culture that thrives, empowers, and fuels success!</p>
        </div>
    </div>
</div>
